@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.marquee {
  word-spacing: 5px;
  height: 30px;
  font-size: 20px;
  background-color: #fcf6ef;
  color: darkgreen;
  scroll-behavior: scroll;
}

/* navbar */
.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  top: 0;
    background-color: whitesmoke;
     z-index: 1000;
}

.navlist-items {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-top: 30px;
  font-size: 15px;
}

.navlist-items a {
  text-decoration: none;
  color: black;
}

.logo img {
  border-radius: 30%;
  padding: 10px;
}

.btns {
  margin-top: 20px;
}

.btn-login {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-login:hover {
  background-color: white;
  color: black;
}

.btn-signup {
  padding: 10px 20px;
  border: none;
  background-color: #e3d7c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-signup:hover {
  background-color: white;
  color: black;
}

/* hero section */

.hero-content {
  width: 100%;
  height: 500px;
  background: url(images/bg1) no-repeat  center/cover;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.para {
  font-size: 2rem;
  color: white;
}
.sub-heading{
  font-size: 5rem;
  font-family: 'Courier New', monospace;
  color: white;
  font-weight: bold;
}
.btn-shop{
  padding: 10px 20px;
  border: none;
  background-color: #e3d7c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
   margin-right: 40px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-shop:hover {
  background-color: black;
  color: white;
}
.btn-read{
  padding: 10px 20px;
  border: none;
  background-color: #e3d7c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-read:hover {
    background-color: black;
  color: white;
}

/* section3 */
.section3{
  width: 100%;
  height: 600px;
}
.sec3-con{
  width: 100%;
  height: 600px;
  background-color: #e3d7c9;
  position: relative;
  display: flex;
}
.images{
  width: 50%;
  height: 600px;
  background-color: #9cad6a;
  position: relative;
}
.img1{
  transform: translate(210px,210px);
  position: absolute;
  z-index: 2;
}
.img2{
  transform: translate(280px,10px);
  position: absolute;
}
.img3{
  transform: translate(350px,280px);
  position: absolute;
}
.sec3-text{
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}
.sec3-text h2{
 text-transform:uppercase;
 font-size: 30px;
 padding: 30px;
}
.sec3-text p{
  color: #333;
 font-size: 16px;
 padding: 10px;
}
.btn-purchase{
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-purchase:hover {
  background-color: white;
  color: black;
}
/* section4 */
.section4{
  width: 100%;
  height: 700px;
}
.section4 h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}
.section4 p{
  font-size: 16px;
  color: #333;
  text-align: center;
  padding-top: 100px;
    font-family: cursive;
}
.section4 .slider{
  height: 300px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}
.slider-track{
  display: flex;
  width: calc(300px*14);
  animation:  scroll 40s linear infinite;
}
.slide{
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}
.slide img{
  width: 100%;
  transition: transform 1s;
}
.slide img:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-300px*7));
  }
}

.section4 .slider::before, .section4 .slider::after{
background: linear-gradient(to right, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index:2;
}
.section4 .slider::before{
  left: -10%;
  top: 0;
}
.section4 .slider::after{
  right: -10%;
  top: 0;
  transform: rotateZ(180deg);
}
/* section5 */
.section5{
  width: 100%;
  height: 200px;
    background-color: #9cad6a;
}
.boxes{
   width: 100%;
  height: 200px;
  margin-left: 10%;
  background-color: #9cad6a;
  display: flex;
  gap: 50px;
  place-items: center ;
}
.box{
  display: flex;
  margin-right: 50px;
}
.icon{
  color: white;
  font-size: 50px;  
   margin-right:10px;
}
.text{
  color: white;
  font-size: 20px;
}
.text a{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
/* section6 */
.section6{
  width: 100%;
  height: 800px;
}
.heading{
  text-align: center;
  justify-content: center;
  padding: 70px;
  font-size: 20px;
}
.posts{
  display: flex;
  padding: 70px 10px 10px 10px;
  gap: 20px;
}
.post1{
  display: block;
  text-align: center;
}
.post1 img{
  border-radius: 20px;
  cursor: pointer;
}
.post1 img:hover{
 transform: translateY(-10px);
 transition: transform 0.3s ease;
}
.post1 p{
  font-size: 16px;
  color: #333;
}
/* section7 */
.section7{
  width: 100%;
  height: 100px;
  background-color: #BBC8CE;
}
.section7 h1{
  text-align: center;
  font-family: cursive;
  padding-top: 30px;
  font-size: 40px;
}
/* section8 */
.brands{
  width: 100%;
  height: 250px;
}
.brand-logos{
  display: space-around;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.brand-logos img{
  margin-right: 50px;
}
/* section9 */
.section9{
  width: 100%;
  height: 100px;
  background-color: white;
}
/* footer */
.footer{
  width: 100%;
  height: 400px;
  background:url(images/bg2) no-repeat center/cover ;
  opacity: 0.8;
position: relative;
}
.footer-upper{
  background-color: rgb(239, 239, 239);
  width: 900px;
  height: 300px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
   display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 20px;
}
.footer-column a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.footer-column li{
  list-style: none;
   margin-bottom: 12px;
}
.footer-column  h3{
  margin-bottom: 15px;
}
.lastline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(239, 239, 239);
}
.socials a{
  text-decoration: none;
  color:#cd9f6a;
  font-size: 20px;
  margin-left: 15px;
}
.socials a:hover{
  color: black;
  transition: color 0.3s ease;
}